.reveal h1 {
	font-family: 'Bree Serif', serif;
	font-size: 2em;
	font-weight: 400;
}

.reveal h2 {
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	text-transform: none;
}

.reveal h3 {
	font-weight: 400;
	text-transform: none;
}

.reveal section img {
	border: none;
	box-shadow: none;
}

.reveal ol {
	width: 100%;
}

.reveal pre code {
    padding: 1em;
    background: #18354a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
	color: #ffc700 !important;
}