$color-grid: rgba(255, 140, 0, 1);
.reveal {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", Helvetica, sans-serif;
        text-transform: unset;
    }
    .dark {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #FFF;
        }
    }
    h1,
    .has-dark-background h1 {
        font-size: 1.6em;
        line-height: 1.3em;
        font-weight: 700;
        color: #333;
    }
    h2,
    .has-dark-background h2 {
        font-size: 1.6em;
        color: #FF8C00;
    }
    h3,
    .has-dark-background h3 {
        font-size: 1.2em;
        + h3 {
            margin-top: -20px;
        }
    }
    p {
        font-size: 0.8em;
    }
    pre {
        box-shadow: none;
        & code {
            border-left: 1em solid $color-grid;
        }
    }

    .slides section .fragment.current-visible {
        display: none;
        &.current-fragment {
            display: block;
        }
    }

    .flex {
        display: flex;
    }

    .flex-center {
        @extend .flex;
        align-items: center;
        justify-content: center;
    }

    .grid-container {
        display: -ms-grid;
        display: grid;
        margin: 0 auto;
        width: 250px;
        height: 250px;
        padding: 0.3em;
        border: 2px solid rgba(0, 0, 0, 0.2);
        &.grid-auto-flow-row {
            grid-auto-flow: row;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto auto auto;
        }
        &.grid-auto-flow-column {
            @extend .grid-auto-flow-row;
            grid-auto-flow: column;
        }
        &.grid-gap {
            grid-gap: 20px 5px;
        }
    }
    .grid-template-1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .grid-template-2 {
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 40px auto 60px;
    }
    .grid-item {
        border: 1px solid #FFF;
        color: #FFF;
        font-size: 0.5em;
    }
    .grid-item:nth-child(1) {
        background-color: lighten($color-grid, 0);
    }
    .grid-item:nth-child(2) {
        background-color: lighten($color-grid, 4);
    }
    .grid-item:nth-child(3) {
        background-color: lighten($color-grid, 8);
    }
    .grid-item:nth-child(4) {
        background-color: lighten($color-grid, 12);
    }
    .grid-item:nth-child(5) {
        background-color: lighten($color-grid, 16);
    }
    .grid-item:nth-child(6) {
        background-color: lighten($color-grid, 20);
    }
    .grid-item:nth-child(7) {
        background-color: lighten($color-grid, 24);
    }
    .grid-item:nth-child(8) {
        background-color: lighten($color-grid, 28);
    }
    .grid-item:nth-child(9) {
        background-color: lighten($color-grid, 32);
    }
    .grid-item:nth-child(10) {
        background-color: lighten($color-grid, 18);
    }
    .animate-children .grid-item {
        animation-name: child-fade-in;
        animation-duration: 8s;
        animation-iteration-count: infinite
    }
    .animate-children .grid-item:nth-child(1) {
        animation-delay: 0.4s
    }
    .animate-children .grid-item:nth-child(2) {
        animation-delay: 0.8s
    }
    .animate-children .grid-item:nth-child(3) {
        animation-delay: 1.2s
    }
    .animate-children .grid-item:nth-child(4) {
        animation-delay: 1.6s
    }
    .animate-children .grid-item:nth-child(5) {
        animation-delay: 2s
    }
    .animate-children .grid-item:nth-child(6) {
        animation-delay: 2.4s
    }
    .animate-children .grid-item:nth-child(7) {
        animation-delay: 2.8s
    }
    .animate-children .grid-item:nth-child(8) {
        animation-delay: 3.2s
    }
    .animate-children .grid-item:nth-child(9) {
        animation-delay: 3.6s
    }
    .animate-children .grid-item:nth-child(10) {
        animation-delay: 4s
    }
    .animate-children .grid-item:nth-child(11) {
        animation-delay: 4.4s
    }
    .animate-children .grid-item:nth-child(12) {
        animation-delay: 4.8s
    }
    @keyframes child-fade-in {
        0% {
            opacity: 0
        }
        10% {
            opacity: 0
        }
        20% {
            opacity: 1
        }
        60% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
}