.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: unset;
}

.reveal h1,
.reveal .has-dark-background h1 {
    font-size: 1.6em;
    font-weight: 700;
    color: #FF8C00;  
}

.reveal p {
    font-size: 0.8em;
}